#
# Exclude these files from release archives.
# This will also make them unavailable when using Composer with `--prefer-dist`.
# If you develop for this repo using Composer, use `--prefer-source`.
#
# @see https://git-scm.com/docs/gitattributes
# @see https://blog.madewithlove.be/post/gitattributes/
#
/.editorconfig           export-ignore
/.gitattributes          export-ignore
/.github/                export-ignore
/.gitignore              export-ignore
/.nvmrc                  export-ignore
/.prettierignore         export-ignore
/.prettierrc.js          export-ignore
/.wp-env.json            export-ignore
/CONTRIBUTING.md         export-ignore
/docs/                   export-ignore
/phpcs.xml.dist          export-ignore
/phpstan.neon.dist       export-ignore
/phpunit.xml.dist        export-ignore
/README-INITIAL.md       export-ignore
/tests/                  export-ignore
