<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	cacheResultFile="./tests/_output/.phpunit.result.cache"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./tests/phpunit/Unit/</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix="Test.php">./tests/phpunit/Integration/</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">includes</directory>
		</include>
		<report>
			<clover outputFile="tests/_output/php-coverage.xml" />
			<html outputDirectory="tests/_output/html" />
			<text outputFile="php://stdout" showOnlySummary="true" />
		</report>
	</coverage>
</phpunit>
